<div class="basic-container">
  <mat-card class="reset-password-card" *ngIf="!hasBeenReset">
    <mat-card-header>
      <mat-card-title>
        <h4 class="h4 mb-4 font-weight-normal">Password reset</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="standard">
        <mat-label>New password</mat-label>
        <input matInput placeholder="Password" [formControl]="password" type="password" required>
        <mat-error *ngIf="password.hasError('required')">Please enter a Password.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Confirm new password</mat-label>
        <input matInput placeholder="Confirm password" [formControl]="confirmPassword" type="password" required>
        <mat-error *ngIf="confirmPassword.hasError('required')">Please confirm your Password.</mat-error>
      </mat-form-field>
      <div class="mat-error">
        {{errorMessage}}
      </div>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button class="rest-password-button" mat-raised-button color="primary" (click)="reset()" disabled="{{!password.valid || !confirmPassword.valid}}">Reset</button>
    </mat-card-actions>
    <mat-card-actions>
      <a class="mat-small" [routerLink]="'/login'">Back to Login</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="reset-password-card" *ngIf="hasBeenReset">
    <mat-card-header>
      <mat-card-title>
        <h4 class="h4 mb-4 font-weight-normal">Password reset</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Click <a class="mat-small" [routerLink]="'/login'">here</a> to log in.
    </mat-card-content>
  </mat-card>
</div>
