<div class="basic-container">
  <mat-card class="forgot-password-card" *ngIf="!emailSent">
    <mat-card-header>
      <mat-card-title>
        <h4 class="h4 mb-4 font-weight-normal">Password reset</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" type="email" required autocomplete="email">
        <mat-error *ngIf="email.hasError('required')">Please enter an Email.</mat-error>
        <mat-error *ngIf="email.hasError('email')">Please enter a valid Email.</mat-error>
      </mat-form-field>
      <div class="mat-error">
        {{errorMessage}}
      </div>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button class="forgot-password-button" mat-raised-button color="primary" (click)="reset()" disabled="{{!email.valid}}">Reset</button>
    </mat-card-actions>
    <mat-card-actions>
      <a class="mat-small" [routerLink]="'/login'">Back to Login</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="forgot-password-card" *ngIf="emailSent">
    <mat-card-header>
      <mat-card-title>
        <h4 class="h4 mb-4 font-weight-normal">Email sent</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      If your email address exists in the system, a password reset email will be sent shortly.  Please check your mailbox.
    </mat-card-content>
    <mat-card-actions>
      <a class="mat-small" [routerLink]="'/login'">Back to Login</a>
    </mat-card-actions>
  </mat-card>
</div>
